foundationdb==7.3.63
hvac
requests
prettytable>=3.10.0
docker
psutil
py-cpuinfo
pytest
mock
flask
kubernetes==35.0.0
PyYAML
urllib3
graypy==2.1.0
boto3
jinja2
argcomplete
jc
sentry-sdk
prometheus-client
ec2-metadata
flask-swagger-ui
sentry-sdk[flask]
flask-openapi3
jsonschema
fastapi
uvicorn
prometheus_api_client
paramiko
pydantic-settings
botocore