apiVersion: v1
kind: Pod
metadata:
  name: snode-spdk-pod-{{ RPC_PORT }}-{{ CLUSTER_ID }}
  namespace: {{ NAMESPACE }}
  labels:
    app: spdk-app-{{ RPC_PORT }}
    role: simplyblock-storage-node
  {% if MODE == "kubernetes" %}
  annotations:
    log-collector/enabled: "true"
  {% endif %}
spec:
  restartPolicy: Never
  serviceAccountName: simplyblock-storage-node-sa
  nodeSelector:
    kubernetes.io/hostname: {{ HOSTNAME }}
  hostNetwork: true
  dnsPolicy: ClusterFirstWithHostNet
  tolerations:
    - effect: NoSchedule
      operator: Exists
    - effect: NoExecute
      operator: Exists
  volumes:
    - name: socket-dir
      emptyDir:
        medium: Memory
        sizeLimit: 1Gi
    - name: host-sys
      hostPath:
        path: /sys
    - name: host-proc
      hostPath:
        path: /proc
    - name: host-rootfs
      hostPath:
        path: /
    - name: etc-simplyblock
      hostPath:
        path: /var/simplyblock
    - name: host-modules
      hostPath:
        path: /lib/modules
    - name: dev-vol
      hostPath:
        path: /dev
    - name: hugepage
      emptyDir:
        medium: HugePages
    - name: script-volume
      emptyDir: {}
    - name: varlog
      hostPath:
        path: /var/log
    - name: dockercontainerlogdirectory
      hostPath:
        path: /var/log/pods
    {% if TLS_SERVE or TLS_CONNECT != "disabled" %}
    - name: tls
    {% if TLS_PROVIDER == "cert-manager" %}
      secret:
        secretName: simplyblock-spdk-proxy-tls
    {% else %}
      projected:
        sources:
          - secret:
              name: simplyblock-spdk-proxy-tls
          - configMap:
              name: simplyblock-certificate-authority
              items:
                - key: service-ca.crt
                  path: ca.crt
    {% endif %}
    {% endif %}

  containers:
    - name: spdk-container
      image: {{ SPDK_IMAGE }}
      imagePullPolicy: "Always"
      command:
        - sh
        - -c
        - |
          if [ ! -e /dev/fd ]; then
            sudo ln -s /proc/self/fd /dev/fd
          fi
          sudo -E /root/scripts/run_distr_with_ssd.sh "{{ L_CORES }}" "{{ SPDK_MEM }}"
      env:
        - name: SSD_PCIE
          value: "{{ SSD_PCIE }}"
        - name: PCI_ALLOWED
          value: "{{ PCI_ALLOWED }}"
        - name: TOTAL_HP
          value: "{{ TOTAL_HP }}"
        - name: RPC_PORT
          value: "{{ RPC_PORT }}"
        - name: NSOCKET
          value: "{{ NSOCKET }}"
        - name: FW_PORT
          value: "{{ FW_PORT }}"
      lifecycle:
        postStart:
          exec:
            command: ["/bin/sh", "-c", "sudo modprobe nbd || echo failed to modprobe nbd"]
      securityContext:
        privileged: true
      volumeMounts:
        - name: socket-dir
          mountPath: /mnt/ramdisk
        - name: host-sys
          mountPath: /sys
        - name: host-modules
          mountPath: /lib/modules
        - name: dev-vol
          mountPath: /dev
        - name: script-volume
          mountPath: /script
        - name: etc-simplyblock
          mountPath: /etc/simplyblock
      resources:
        limits:
          hugepages-2Mi: {{ MEM_MEGA }}Mi
          cpu: {{ CORES }}
          {% if CPU_TOPOLOGY_ENABLED %}
          memory: {{ MEM2_MEGA }}Mi
          numa-align/numa-{{ NSOCKET }}: 1
          {% endif %}
        requests:
          hugepages-2Mi: {{ MEM_MEGA }}Mi
          {% if CPU_TOPOLOGY_ENABLED %}
          memory: {{ MEM2_MEGA }}Mi
          numa-align/numa-{{ NSOCKET }}: 1
          {% endif %}

    - name: spdk-proxy-container
      image: {{ SIMPLYBLOCK_DOCKER_IMAGE }}
      imagePullPolicy: "Always"
      command: ["sudo", "-E", "python3", "simplyblock_core/services/spdk_http_proxy_server.py"]
      securityContext:
        privileged: true
      volumeMounts:
        - name: socket-dir
          mountPath: /mnt/ramdisk
        {% if TLS_SERVE or TLS_CONNECT != "disabled" %}
        - name: tls
          mountPath: /etc/simplyblock/tls
          readOnly: true
        {% endif %}
      env:
        - name: SERVER_IP
          value: "{{ SERVER_IP }}"
        - name: RPC_PORT
          value: "{{ RPC_PORT }}"
        - name: RPC_USERNAME
          value: "{{ RPC_USERNAME }}"
        - name: RPC_PASSWORD
          value: "{{ RPC_PASSWORD }}"
        - name: MULTI_THREADING_ENABLED
          value: "True"
        - name: TIMEOUT
          value: "300"
        - name: SB_TLS_SERVE
          value: "{{ TLS_SERVE }}"
        - name: SB_TLS_CONNECT
          value: "{{ TLS_CONNECT }}"
        - name: SB_TLS_CLIENT_AUTH
          value: "{{ TLS_CLIENT_AUTH }}"
        - name: SB_TLS_PROVIDER
          value: "{{ TLS_PROVIDER }}"
      {% if CPU_TOPOLOGY_ENABLED %}
      resources:
        limits:
          cpu: 1
          memory: "512Mi"
        requests:
          cpu: 1
          memory: "512Mi"
      {% endif %}

{% if MODE == "docker" %}
---
apiVersion: v1
kind: Pod
metadata:
  name: simplyblock-fluentd-{{ RPC_PORT }}-{{ CLUSTER_ID }}
  namespace: {{ NAMESPACE }}
  labels:
    app: simplyblock-fluentd-app-{{ RPC_PORT }}
spec:
  serviceAccountName: simplyblock-storage-node-sa
  nodeSelector:
    kubernetes.io/hostname: {{ HOSTNAME }}
  tolerations:
    - effect: NoSchedule
      operator: Exists
    - effect: NoExecute
      operator: Exists
  volumes:
    - name: varlog
      hostPath:
        path: /var/log
    - name: dockercontainerlogdirectory
      hostPath:
        path: /var/log/pods
  containers:
    - name: fluentd
      image: public.ecr.aws/simply-block/fluentd-kubernetes-daemonset:v1.17.1-debian-graylog-1.2
      imagePullPolicy: "Always"
      env:
        - name: K8S_NODE_NAME
          valueFrom:
            fieldRef:
              fieldPath: spec.nodeName
        - name: FLUENT_GRAYLOG_HOST
          value: "{{ GRAYLOG_SERVER_IP }}"
        - name: FLUENT_GRAYLOG_PORT
          value: "12202"
        - name: FLUENT_GRAYLOG_PROTOCOL
          value: "tcp"
        - name: FLUENTD_SYSTEMD_CONF
          value: "disable"
        - name: FLUENT_CONTAINER_TAIL_PATH
          value: "/var/log/pods/{{ NAMESPACE }}_snode-spdk-pod-{{ RPC_PORT }}-{{ CLUSTER_ID }}_*/*/*.log"
        - name: FLUENT_CONTAINER_TAIL_EXCLUDE_PATH
          value: /var/log/pods/fluent*
        - name: FLUENT_CONTAINER_TAIL_PARSER_TYPE
          value: '/^(?<time>[^ ]+) (?<stream>stdout|stderr)(?: (?<logtag>.))? (?<log>.*)$/'
      volumeMounts:
        - name: varlog
          mountPath: /var/log
        - name: dockercontainerlogdirectory
          mountPath: /var/log/pods
          readOnly: true
  {% endif %}
