---
title: {{ command.help }}
{% if command.weight is defined %}weight: {{ command.weight }}{% endif %}
---

```bash
{{ variables.cliname }} {{ command.name }} --help
```

{% if command.aliases %}
**Aliases:** {% for alias in command.aliases %} {{ alias }} {% endfor %}
{% endif %}

{{ command | get_description }}

{% for subcommand in command.subcommands %}
{% if not subcommand.private %}
## {{ subcommand.help }}

{{ subcommand | get_description }}

```bash
{{ variables.cliname }} {{ command.name }} {{ subcommand.name }}
{%- for argument in subcommand.arguments -%}
{%- if not argument.private %}
    {{ argument | arg_value }}
{%- endif -%}
{% endfor -%}
{%- for parameter in subcommand.parameters -%}
{%- if not parameter.private %}
    {{ parameter.name }}{{ parameter | param_value }}
{%- endif %}
{%- endfor %}
```

{% if (subcommand.arguments is defined) and subcommand.arguments %}
| Argument | Description | Data Type | Required |
| -------- | ----------- | --------- | -------- |
{% for argument in subcommand.arguments -%}
{% if not argument.private -%}
| {{ argument.name | upper }} | {{ argument | get_description | trim }} | {{ argument | argument_type }} | {{ argument | required }} |
{% endif -%}
{% endfor -%}
{% endif -%}

{%- if (subcommand.parameters is defined) and subcommand.parameters %}
| Parameter | Description | Data Type | Required | Default |
| --------- | ----------- | --------- | -------- | ------- |
{% for parameter in subcommand.parameters -%}
{% if not parameter.private -%}
| {{ parameter.name }}
{%- if parameter.aliases -%}
{%- for alias in parameter.aliases -%}
, {{ alias }}
{%- endfor -%}
{%- endif -%}
| {{ parameter | get_description | trim }}
{%- if parameter.choices %}<br/><br/>Available Options:{% for choice in parameter.choices %}<br/>- {{ choice }}{% endfor %}{% endif %}
{%- if parameter.value_range %}<br/><br/>Available Value Range: {{ parameter.value_range }}{% endif %} | {{ parameter | argument_type }} | {{  parameter | required }} | {{ parameter.default | default("-") }} |
{% endif -%}
{% endfor -%}
{% endif -%}
{% endif -%}
{% endfor -%}
